@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}
#header{
    margin: 1%
}
/*
 * Tab
 */
.active {
    background-color: #777;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}
.tablink {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    display: none;
    height: 95%;
}
/*
 * Maker Box
 */
.MakerBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.emoji-display-box{
    position: relative;
    flex-basis: 25%;
}
.emoji-setting-box{
    position: relative;
    flex-grow: 1;
}
#setting-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 2%;

    box-sizing: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.scroll {
    margin: 1%;
    padding-top: 10%;
    width: 300px;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;    /*set for tooltiptext*/

    display: flex;
    flex-wrap: nowrap;  
}
.scroll::-webkit-scrollbar {
    height: 6px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(215, 213, 213, 0.793);
}
.button-wrapper {
    display: inline-block;
}
#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 10px;
    border: 1px solid black;
    position: relative;
}
#button:hover {
    background-color:rgba(215, 213, 213, 0.793);
}
/*
 * https://www.w3schools.com/css/css_tooltip.asp
 */
#button .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    left: 0%;
}
#button:hover .tooltiptext {
    visibility: visible;
}
#button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
/*
 * Emoji-display-box
 */
#emoji-image{
    border: 2px solid black;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}
.emoji-canvas {
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
#emoji-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
#postButton {
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
}