@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}
/*
 * Tab
 */
.active {
    background-color: #777;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}
.tablink {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    display: none;
    height: 95%;
}
/*
 * Box Display Effect ->> make two boxes display parallelly 
 */
.MakerBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.emoji-display-box{
    position: relative;
    flex-basis: 33.33%;
}
.emoji-setting-box{
    flex-grow: 1;
}
/*
 * Emoji-display-box
 */
#emoji-image{
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 100%;
}
#emoji-info {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
#emoji-info input {
    float: right;
}
#postButton {
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
}